ClienteJuroSC/xml-resources/web-service-references/ServicoJSJC/wsdl/localhost_8080/JurosWeb/ServicoJSJC.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="br.edu.ifmt.cba" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="br.edu.ifmt.cba" name="ServicoJSJC">
<types>
<xsd:schema>
<xsd:import namespace="br.edu.ifmt.cba" schemaLocation="http://localhost:8080/JurosWeb/ServicoJSJC?xsd=1"/>
</xsd:schema>
</types>
<message name="JuroSimples">
<part name="parameters" element="tns:JuroSimples"/>
</message>
<message name="JuroSimplesResponse">
<part name="parameters" element="tns:JuroSimplesResponse"/>
</message>
<message name="JuroComposto">
<part name="parameters" element="tns:JuroComposto"/>
</message>
<message name="JuroCompostoResponse">
<part name="parameters" element="tns:JuroCompostoResponse"/>
</message>
<message name="TaxaJuro">
<part name="parameters" element="tns:TaxaJuro"/>
</message>
<message name="TaxaJuroResponse">
<part name="parameters" element="tns:TaxaJuroResponse"/>
</message>
<message name="MontanteComposto">
<part name="parameters" element="tns:MontanteComposto"/>
</message>
<message name="MontanteCompostoResponse">
<part name="parameters" element="tns:MontanteCompostoResponse"/>
</message>
<message name="MontanteSimples">
<part name="parameters" element="tns:MontanteSimples"/>
</message>
<message name="MontanteSimplesResponse">
<part name="parameters" element="tns:MontanteSimplesResponse"/>
</message>
<portType name="ServicoJuro">
<operation name="JuroSimples">
<input wsam:Action="br.edu.ifmt.cba/ServicoJuro/JuroSimplesRequest" message="tns:JuroSimples"/>
<output wsam:Action="br.edu.ifmt.cba/ServicoJuro/JuroSimplesResponse" message="tns:JuroSimplesResponse"/>
</operation>
<operation name="JuroComposto">
<input wsam:Action="br.edu.ifmt.cba/ServicoJuro/JuroCompostoRequest" message="tns:JuroComposto"/>
<output wsam:Action="br.edu.ifmt.cba/ServicoJuro/JuroCompostoResponse" message="tns:JuroCompostoResponse"/>
</operation>
<operation name="TaxaJuro">
<input wsam:Action="br.edu.ifmt.cba/ServicoJuro/TaxaJuroRequest" message="tns:TaxaJuro"/>
<output wsam:Action="br.edu.ifmt.cba/ServicoJuro/TaxaJuroResponse" message="tns:TaxaJuroResponse"/>
</operation>
<operation name="MontanteComposto">
<input wsam:Action="br.edu.ifmt.cba/ServicoJuro/MontanteCompostoRequest" message="tns:MontanteComposto"/>
<output wsam:Action="br.edu.ifmt.cba/ServicoJuro/MontanteCompostoResponse" message="tns:MontanteCompostoResponse"/>
</operation>
<operation name="MontanteSimples">
<input wsam:Action="br.edu.ifmt.cba/ServicoJuro/MontanteSimplesRequest" message="tns:MontanteSimples"/>
<output wsam:Action="br.edu.ifmt.cba/ServicoJuro/MontanteSimplesResponse" message="tns:MontanteSimplesResponse"/>
</operation>
</portType>
<binding name="OperadorJurosBinding" type="tns:ServicoJuro">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="JuroSimples">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="JuroComposto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TaxaJuro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MontanteComposto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MontanteSimples">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicoJSJC">
<port name="OperadorJuros" binding="tns:OperadorJurosBinding">
<soap:address location="http://localhost:8080/JurosWeb/ServicoJSJC"/>
</port>
</service>
</definitions>